@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply border border-stone-400 py-2 px-3;
    @apply placeholder:font-light placeholder:italic;
    @apply focus:ring-4 focus:ring-lime-200 focus:outline-none focus:border-stone-500
  }

  input[type='checkbox']{
    @apply w-6 h-6 outline-none accent-lime-400 border-0;
    @apply focus:ring-0 focus:ring-offset-0;
  }

  body{
    @apply text-stone-700 bg-white
  }

  svg {
    @apply w-[12px] h-[12px] fill-current
  }

  .nav-dropdown-trigger{
    @apply flex-auto  h-[35px] flex justify-center items-center gap-1 outline-none border border-stone-300 px-2
  }

  .nav-dropdown-trigger{
    @apply sm:flex-none sm:gap-2 sm:px-4
  }

  .nav-dropdown-trigger .caret{
    @apply w-[10px] h-[10px]
  }

  .nav-dropdown-trigger[data-state='open'] {
    @apply ring-2 ring-lime-200
  }

  .nav-dropdown-trigger[data-state='open'] .caret{
    @apply rotate-180
  }


  .nav-dropdown-content{
    @apply z-50 border border-stone-300 min-w-[200px] bg-white p-[5px] shadow-[0px_5px_38px_-10px_rgba(22,_23,_24,_0.35),_0px_5px_20px_-15px_rgba(22,_23,_24,_0.2)] data-[side=bottom]:animate-slideDownAndFade
  }

  .nav-dropdown-item{
    @apply relative leading-none flex items-center h-[35px] px-[5px] pl-[25px] select-none outline-none cursor-pointer
  }

  .nav-dropdown-item{
    @apply hover:bg-stone-200
  }

  .nav-dropdown-indicator{
    @apply absolute left-0 w-[25px] inline-flex items-center justify-center text-green-600
  }

  .nav-dropdown-indicator-icon{
    @apply w-[16px] h-[16px]
  }

  .btn {
    @apply transition duration-300 ease-out;
    @apply h-[45px] border px-4 cursor-pointer flex justify-center items-center gap-2;
  }

  .btn-link{
    @apply border-stone-300 text-stone-500 shadow-[0_1px_4px_0_rgba(0,0,0,0.1)];
    @apply hover:border-stone-400 hover:text-stone-600 hover:bg-stone-100
  }

  .btn-secondary{
    @apply border-stone-600 bg-stone-600/80 shadow-[0_1px_4px_0_rgba(0,0,0,0.4)];
    @apply hover:bg-stone-600;
  }

  .btn-primary {
    @apply border-lime-600 bg-lime-600/80 shadow-[0_1px_4px_0_rgba(0,0,0,0.4)];
    @apply hover:bg-lime-600;
  }
  
  .btn-danger{
    @apply border-red-600 bg-red-600/80 shadow-[0_1px_4px_0_rgba(0,0,0,0.4)];
    @apply hover:bg-red-600;
  }

  .btn-danger span, .btn-primary span, .btn-secondary span, .btn-danger svg, .btn-primary svg, .btn-secondary svg{
    @apply text-stone-100 font-semibold;
    @apply hover:text-white;
  }

  .filter-form {
    @apply flex items-center h-[45px] w-[200px] sm:w-[350px] border border-stone-300;
    @apply focus-within:ring-4 focus-within:ring-lime-200  focus-within:border-stone-400;

  } 

  .filter-form button[type="submit"]{
    @apply border-none focus:outline-none h-full w-[45px] text-stone-400 hover:text-stone-500
  }

  .filter-form button[type="submit"] svg{
    @apply w-[20px] h-[20px] mx-auto
  }

  .filter-form input[type="text"]{
    @apply w-[120px] sm:w-auto sm:grow h-full border-none focus:outline-none ps-0 focus:ring-0 focus:ring-offset-0
  }

  .filter-form button[type="button"]{
    @apply border-none h-full w-[35px] text-stone-400 hover:text-stone-500
  }

  .filter-form button[type="button"] svg{
    @apply w-[20px] h-[20px] mx-auto
  }

  .markdown{
    @apply prose prose-stone bg-white max-w-none prose-a:no-underline hover:prose-a:text-lime-600
  }

  .markdown{
    @apply prose-h1:text-2xl prose-h2:text-xl prose-h2:mt-2 prose-h2:mb-1 prose-h3:text-lg
  }

  .markdown{
    @apply prose-p:my-1
  }

  .markdown{
    @apply prose-img:my-1 prose-img:rounded-lg prose-img:border-2 prose-img:border-slate-200
  }

  .markdown{
    @apply prose-pre:border prose-pre:border-[#ddd] prose-pre:my-1 prose-pre:p-0 prose-pre:rounded-none prose-pre:bg-[#f9f9f9] prose-pre:text-[#333]
  }

  .markdown{
    @apply prose-code:p-1
  }

  .table-responsive{
    @apply w-full text-sm border-t border-stone-300
  }

  .table-responsive a{
    @apply transition duration-300 ease-out;
    @apply inline-block border border-stone-300 py-[6px] px-4;
    @apply hover:border-lime-500 hover:shadow-[0_1px_4px_0_rgba(0,0,0,0.1)] hover:bg-white;
  }

  .table-responsive thead {
      @apply hidden sm:table-header-group
  }

  .table-responsive tbody tr{
      @apply even:bg-stone-100/60 odd:bg-white;
      @apply  border-b border-stone-300 rounded hover:bg-stone-100;
      @apply sm:table-row sm:border-t-0
  }

  .table-responsive th, .table-responsive td{
      @apply text-start sm:first:w-[50px] sm:first:ps-3 sm:last:w-[80px] px-1 break-all
  }

  .table-responsive th{
    @apply py-3 text-stone-600 font-bold border-b-2 border-stone-400
  }

  .table-responsive td:not(.empty){
    @apply block relative pl-[calc(30%+10px)] py-1;
    @apply sm:table-cell sm:pl-1; 
  } 

  .table-responsive td:not(.empty):before{
    @apply absolute top-0 left-0 w-[30%] h-full;
    @apply border-r-2 border-stone-400 pe-2 py-1;
    @apply content-[attr(data-label)] text-right font-bold text-sm text-stone-600;
    @apply sm:hidden;
  }

  .table-responsive td.empty{
    @apply p-0
  }
  .table-responsive td.empty span{
    @apply block my-2 p-4 text-center border border-stone-400 bg-stone-100;
  }

  .table-detail{
    @apply w-full sm:w-auto sm:min-w-[600px] border border-b-0 border-stone-200 text-sm my-5
  }

  .table-detail tr{
    @apply even:bg-stone-100/60 odd:bg-white;
    @apply  border-b border-stone-300 rounded hover:bg-stone-100;
    @apply block p-2 sm:table-row;
  }

  .table-detail th,
  .table-detail td{
    @apply block leading-none sm:table-cell sm:leading-normal sm:py-2 px-3;
  }

  .table-detail th::after{
    @apply sm:absolute sm:right-0 sm:content-[':'] sm:inline-block ;
  }

  .table-detail th{
    @apply capitalize relative text-left;
    
  }

  .detail{
    @apply flex flex-col gap-2 items-start w-full sm:border border-stone-200/80 px-2  sm:px-4 py-5
  }

  .detail-item {
    @apply w-full flex border-b border-stone-200/50
  }

  .detail-item div:first-child{
    @apply py-2 font-bold w-[100px] sm:w-[120px] text-sm
  }

  .detail-item div:nth-child(2){
    @apply w-full flex sm:px-2 py-2 text-sm
  }

  .detail-item div:nth-child(2)::before{
    @apply  content-[':'] pe-2 text-stone-400
  }

  .form{
    @apply flex flex-col gap-2 items-start w-full sm:w-[500px] sm:border border-stone-200/80 px-2  sm:px-4 py-5
  }

  .form-group{
    @apply mb-5
  }

  .form-label{
    @apply block mb-[2px] text-xs uppercase text-stone-500
  }

  .form-error-label{
    @apply text-xs text-red-500 mt-[2px]
  }

}