@tailwind base;
@tailwind components;
@tailwind utilities;


.scroll-bars-hidden {
  overflow: hidden !important;
  padding-right: 17px !important;
}


@layer components {

  body{
    @apply text-stone-700 bg-white
  }

  svg {
    @apply w-[12px] h-[12px] fill-current
  }

  .nav-dropdown-trigger{
    @apply flex-auto  h-[35px] flex justify-center items-center gap-1 outline-none border border-stone-300 px-2
  }

  .nav-dropdown-trigger{
    @apply sm:flex-none sm:gap-2 sm:px-4
  }

  .nav-dropdown-trigger .caret{
    @apply w-[10px] h-[10px]
  }

  .nav-dropdown-trigger[data-state='open'] {
    @apply ring-2 ring-lime-200
  }

  .nav-dropdown-trigger[data-state='open'] .caret{
    @apply rotate-180
  }


  .nav-dropdown-content{
    @apply z-50 border border-stone-300 min-w-[200px] bg-white p-[5px] shadow-[0px_5px_38px_-10px_rgba(22,_23,_24,_0.35),_0px_5px_20px_-15px_rgba(22,_23,_24,_0.2)] data-[side=bottom]:animate-slideDownAndFade
  }

  .nav-dropdown-item{
    @apply relative leading-none flex items-center h-[35px] px-[5px] pl-[25px] select-none outline-none cursor-pointer
  }

  .nav-dropdown-item{
    @apply hover:bg-stone-200
  }

  .nav-dropdown-indicator{
    @apply absolute left-0 w-[25px] inline-flex items-center justify-center text-green-600
  }

  .nav-dropdown-indicator-icon{
    @apply w-[16px] h-[16px]
  }

  .btn {
    @apply flex justify-center items-center gap-1 py-2 px-4 border border-stone-300 text-stone-500 shadow-[0_0_15px_0_rgba(106,106,106,0.15)]  ;
  }

  .btn:hover {
    @apply bg-stone-100 border-stone-400 text-stone-600
  }

  .btn-primary {
    @apply border-lime-300 text-lime-500
  }

  .btn-primary:hover {
    @apply bg-lime-50 border-lime-400 text-lime-600;
  }

  .btn-danger{
    @apply border-red-300 text-red-500
  }

  .btn-danger:hover {
    @apply bg-red-50 border-red-400 text-red-600;
  }

  .filter-form {
    @apply flex bg-white h-[42px] sm:w-[300px] border border-stone-300 overflow-hidden
  } 

  .filter-form {
    @apply focus-within:ring-2 focus-within:ring-lime-200
  }

  .filter-form button[type="submit"]{
    @apply border-none focus:outline-none h-full w-[45px] text-stone-400 hover:text-stone-500
  }

  .filter-form button[type="submit"] svg{
    @apply w-[20px] h-[20px] mx-auto
  }

  .filter-form input[type="text"]{
    @apply grow h-full border-none text-sm focus:outline-none placeholder-stone-300
  }

  .filter-form button[type="button"]{
    @apply border-none h-full w-[35px] text-stone-400 hover:text-stone-500
  }

  .filter-form button[type="button"] svg{
    @apply w-[20px] h-[20px] mx-auto
  }

  .markdown{
    @apply prose prose-stone bg-white max-w-none prose-a:no-underline hover:prose-a:text-lime-600
  }

  .markdown{
    @apply prose-h1:text-2xl prose-h2:text-xl prose-h2:mt-2 prose-h2:mb-1 prose-h3:text-lg
  }

  .markdown{
    @apply prose-p:my-1
  }

  .markdown{
    @apply prose-img:my-1 prose-img:rounded-lg prose-img:border-2 prose-img:border-slate-200
  }

  .markdown{
    @apply prose-pre:border prose-pre:border-[#ddd] prose-pre:my-1 prose-pre:p-0 prose-pre:rounded-none prose-pre:bg-[#f9f9f9] prose-pre:text-[#333]
  }

  .markdown{
    @apply prose-code:p-1
  }

  .table-responsive{
    @apply w-full text-sm border-t border-slate-300
  }

  .table-responsive thead {
      @apply hidden sm:table-header-group
  }

  .table-responsive tr{
      @apply even:bg-stone-100/60 odd:bg-white border-b border-stone-300 rounded hover:bg-stone-100
  }

  .table-responsive tr{
      @apply sm:table-row sm:border-t-0
  }

  .table-responsive th, .table-responsive td{
      @apply text-start sm:first:w-[50px] sm:first:ps-3 px-1 cursor-pointer break-all
  }

  .table-responsive th{
      @apply py-3 text-stone-600 font-bold border-b-2 border-stone-400
  }

  .table-responsive td{
      @apply sm:py-3 block relative pl-[calc(30%+10px)] hover:bg-stone-100
  }

  .table-responsive td{
      @apply sm:table-cell sm:pl-1
  }

  .table-responsive td::before{
      @apply content-[attr(data-label)] absolute border-r-2 border-stone-400 pe-2 top-0 left-0 w-[30%] h-full text-right font-bold text-sm text-stone-600
  }

  .table-responsive td::before{
      @apply sm:hidden
  }


  .detail{
    @apply flex flex-col gap-2 items-start w-full sm:border border-stone-200/80 px-2  sm:px-4 py-5
  }

  .detail-item {
    @apply w-full flex border-b border-stone-200/50
  }

  .detail-item span:first-child{
    @apply sm:px-2 py-2 font-bold w-[100px] sm:w-[120px] text-sm sm:text-base
  }

  .detail-item span:nth-child(2){
    @apply sm:px-2 py-2 text-sm sm:text-base
  }

  .detail-item span:nth-child(2)::before{
    @apply  content-[':'] pe-2 text-stone-400
  }

  .form{
    @apply flex flex-col gap-2 items-start w-full sm:w-[500px] sm:border border-stone-200/80 px-2  sm:px-4 py-5
  }

  .form-group{
    @apply mb-5
  }

  .form-label{
    @apply block mb-[2px] text-xs uppercase text-stone-500
  }

  .form-error-label{
    @apply text-xs text-red-500 mt-[2px]
  }

  .form-input{
    @apply p-3 text-sm leading-tight border appearance-none focus:outline-none focus:ring-4 focus:ring-lime-200
  }

}